.typeSection {
  border: 16px solid transparent;
  padding: 16px 8px;
  display: flex;
  flex-direction: column;
}

.sectionCardsContainer {
  display: flex;
  overflow: hidden;
}

.wrap {
  flex-wrap: wrap;
}
