.cardContainer {
  display: flex;
  flex-direction: column;
  padding: 16px 8px;
  gap: 8px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
  flex-shrink: 0;
  box-sizing: border-box;
}

.small {
  width: 10%;
}

.big {
  width: 20%;
}

.cardImage {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}
