.stars {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.stars svg {
  width: 16px;
  height: 16px;
}

@media (max-width: 768px) {
  .stars svg {
    width: 12px;
    height: 12px;
  }
}

@media (max-width: 430px) {
  .stars svg {
    width: 10px;
    height: 10px;
  }
}
