.searchContainer {
  display: flex;
  justify-content: center;
  padding: 16px 8px;
}

.searchBarContainer {
  border: 1px solid #131316;
  border-radius: 16px;
  padding: 16px 8px;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  width: 345px;
  background-color: #131316;
}

input {
  background-color: transparent;
  border-color: transparent;
  flex-grow: 1;
}
